header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 7vh;
  background-color: #FEFEFE;
}

header picture {
  width: 10%;
  height: 80%;
  margin-left: 7vw;
  background-color: var(--bg-color);
}

header .quiz-btn {
  width: 8%;
  height: 80%;
  background-color: var(--bg-color);;
  margin-right: 7vw;
}

div.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-height: 86vh;
    background-color: var(--bg-color);
}

div.conteudo article.post-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 60vw;
    height: 1200px;
    margin: 30px 0px;
    background-color: #FEFEFE;
}

div.previous-post, div.next-post {
    width: 20%;
    height: 70px;
    margin-bottom: 30px;
    background-color: var(--bg-color);
}

div.conteudo article.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 86vw;
  height: auto;
}

article div.post-card {
    width: 280px;
    height: 150px;
    margin: 10px 0px;
    background-color: #FEFEFE;
}

footer {
  width: 100vw;
  height: 7vh;
  background-color: #FEFEFE;
}