/* index page */

div.index-background {
  height: 100vh;
  width: 100vw;
  background-image: 
  linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url('../images/background_index.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

div.solarSystem-bg {
  height: 100vh;
  width: 100vw;
  background-image: url('../images/sistemasolar1880.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

div.title {
  margin-left: 12%;
}

div.title h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: clamp(2rem, 4vw, 3.5rem);
  white-space: nowrap;
  color: white;
}

div.title p {
  margin-top: 5px;
  color: white;
  font-size: clamp(1.3rem, 3vw, 3rem);}

div.title button {
  padding: 17px 30px;
  color: white;
  background-color: #000000;
  border-radius: 5px;
  margin-top: 15px;
  border: none;
  font-size: clamp(18px, 2vw, 1.3rem);
}

/* quiz page */

div.quiz-bg, div.students-result-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--secundary-color);
}



div.quiz-wrapper, div.result-wrapper, div.answers-wrapper {
   width: 38%;
   height: auto;
}

p.quiz-question, div.result-wrapper p, div.answers-wrapper p /*form.quiz-form p:first-of-type*/ {
   font-size: clamp(22px, 3.6vw, 1.6rem);  /*clamp(24px, 4vw, 2rem)*/;
   color: var(--white);
   text-align: center;
}

button.quiz-option, div.result-wrapper button {
    border: none;
    width: 100%;
    margin: 5px 0px;
    padding: 16px;
    text-align: left;
    font-size: clamp(20px, 3.2vw, 1.3rem); /*clamp(20px, 3.7vw, 1.6rem);*/
    color: var(--white);
    background-color: var(--main-color);
}


button.quiz-option:first-of-type {
    margin-top: 45px;
}

p.question-number {
     font-size: clamp(20px, 3.2vw, 1.3rem);
     margin-bottom: 110px;
     color: var(--white);

}

p.acertos {
    margin-top: 110px;
    font-size: clamp(20px, 3.2vw, 1.3rem);
    color: var(--white);
}

form.quiz-form, form.auth-form {
    width: 25%;
    height: auto;
}


form.quiz-form p:first-of-type, form.auth-form p:first-of-type {
    margin-bottom: 35px;
    font-size: clamp(20px, 3.2vw, 1.5rem);/*clamp(20px, 3.5vw, 1.7rem);*/
    text-align: left;
    color: var(--white);
}

form.auth-form p:first-of-type {
   margin-bottom: 25px;
   /*font-size: clamp(26px, 3.2vw, 1.6rem);*/
}

form.quiz-form input, form.quiz-form select, form.auth-form input {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  padding: 8px 0px;
  text-indent: 7px;
  font-size: clamp(16px, 2.8vw, 1rem); 
}

form.quiz-form button, form.auth-form button:not(.forgot-pass) {
    padding: 7px 10px; /*12px 10px*/;
    border: none;
    font-size: clamp(18px, 3.3vw, 1.3rem);
    color: var(--white);
    background-color: var(--main-color);
}

form.quiz-form p.field-name, form.quiz-form p:first-of-type, form.auth-form p.field-name , a.accounted_already{
  margin-bottom: 10px;
  font-size: clamp(18px, 3.3vw, 1.3rem);
  color: var(--white);
}

form.quiz-form p:first-of-type {
  margin-bottom: 25px;
}

div.result-wrapper p {
  margin-bottom: 30px;
}

div.result-wrapper button {
  text-align: center;
  margin: 5px auto;
  width: 50%;
}

div.answers-wrapper {
  display: flex;
  flex-direction: column;
}

div.answers-wrapper p {
   font-size: clamp(20px, 3.4vw, 1.4rem);
}

div.answers-wrapper >  p, div.answers-wrapper p.answer {
    margin-bottom: 20px;
}


div.answers-wrapper div p.fullAnswer {
  text-align: justify; 
}

div.answers-wrapper > p {
  color: var(--white);
}

div.answers-wrapper > div {
  min-height: 5vh;
  height: auto;
}

div.answers-wrapper button {
    padding: 8px 12px;
    margin-top: 34px;
    align-self: center;
    border: none;
    background-color: var(--main-color);
}

div.answers-wrapper button svg.arrow-icon {
  color: var(--white);
  font-size: 26px;
}

div.buttons-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
}


a.accounted_already {
  text-decoration: none;
}

a.accounted_already, button.forgot-pass {
  display: block;
  margin-top: 18px;
  background-color: transparent;
  border: none;
  font-size: clamp(16px, 3.1vw, 1.1rem);
  color: var(--white);
}


div.students-result-bg {
  align-items: center;
  justify-content: flex-start;
}

div.students-result-bg > div.table-wrap {
    width: 50%;
    margin-top: 30px;
    background-color: black;
    overflow-x: auto;
}

div.students-result-bg > div.table-wrap table {
   width: 100%;
   color: var(--white);
}

div.students-result-bg button {
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-left: 3vw;
  padding: 15px 25px;
  background-color: var(--main-color);
  color: var(--white);
  font-size: clamp(18px, 2.9vw, 1.1rem);
  border: none;
}

div.students-result-bg button svg {
  margin-right: 5px;
}


/*home page */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 7vh;
  background-color: var(--main-color);
}

header span {
  padding: 6px 0px;
  margin-left: 7vw;
  font-size: clamp(22px, 2.5vw, 1.5rem);
}

header div.menu_buttons {
  display: flex;
  width: auto;
  margin-right: 7vw;
}

header ul#menu_dropdown {
  display: none;
}

header button {
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  border: 2px solid var(--secundary-color);
  border-radius: 3px;
  background-color: var(--secundary-color);
  color: var(--white);
  font-size: var(--font-size);
  margin-left: 0.5vw;
}

header button.dropdown_btn {
  display: none;
}

header a {
  text-decoration: none;
}

header a > button {
  background-color: transparent;
  border-color: transparent;
}

div.conteudo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    min-height: 86vh;
    background-color: var(--white);
}

div.conteudo article.post-content, div.conteudo article.about-content {
    width: 60vw;
    height: auto;
    margin: 30px 0px;
    background-color: var(--white);
}

article.post-content section, article.about-content section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px 0px;
}

article.post-content section h1, article.about-content section h1 {
    font-size: clamp(23px, 3.7vw, 1.9rem);
}

article.post-content section p, article.about-content section p, article.post-content button, .icon {
  font-size: clamp(17px, 2vw, 1.2rem);
}

section > h1, section > p, section > h2 {
  margin-top: 15px;
  padding: 5px;
}

article.post-content section h2, article.about-content section h2 {
  font-size: clamp(19px, 3.2vw, 1.6rem);
  margin-top: 30px;
}

section p {
  line-height: 1.6;
  text-align: justify;
  margin-top: 8px;
}

div.conteudo {
  display: flex;
  flex-direction: column;
}

div.conteudo h3 {
    width: 86vw;
    padding-left: 23px;
    margin-top: 150px;
    font-size: clamp(20px, 3vw, 1.5rem);
}

div.conteudo article.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 86vw;
  height: auto;
  margin-top: 25px;
  margin-bottom: 40px;  
}

article button.post-card {
    width: 280px;
    height: 150px;
    margin: 10px 0px 10px 23px;
    background-color: var(--white);
    color: var(--main-color);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 10px 0px 0px 5px;
    display: flex;
    flex-direction: column;
}


article button.post-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

button.post-card .card-icon {
    width: 40px;
    height: 40px;
    margin: 10px 0px 0px 15px; 
}

button.post-card .card-title {
    margin: 25px 0px 10px 0px;
    padding: 0px 15px;
    text-align: left;
    width: auto;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--font-size);
}


footer {
  width: 100vw;
  height: auto;
  background-color: var(--main-color);
}

footer span {
   display: block;
   font-size: clamp(23px, 2.2vw, 1.9rem);
   padding: 8px 0px;
   margin: 25px 0px 25px 7vw;  
}


footer div.about {
    height: auto;
    width: 45%;
    margin: 0px 0px 25px 7vw;
}

footer div.about h3 {
  color: var(--white);
  font-size: clamp(17px, 2.5vw, 1.3rem)
}

footer div.about p.content {
  margin-top: 15px;
  text-align: justify;
  font-size: var(--font-size-2);
  color: var(--white);
}



footer p.icon-attribution, footer p.img-attribution {
  width: 86%;
  margin: 0px 0px 0px 7vw;
  padding: 4px 0px;
  /*border-bottom: 2.5px solid gray;*/
  color: var(--white);
  font-size: var(--font-size-2);
}

footer p.img-attribution {
    margin-bottom: 25px;
}

footer a {
  color: var(--white);
  text-decoration: none;
  margin-right: 5px;
}


footer div.footer {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  background-color: var(--secundary-color);
}


footer div.footer p.copyright {
    margin-left: 7vw;
    align-self: center;
    font-size: var(--font-size-2);
    color: var(--white);
}

.loader {
  border: 7px solid transparent;
  border-top: 7px solid var(--main-color);
  border-right: 7px solid var(--main-color);
  border-bottom: 7px solid var(--main-color);
  border-radius: 50%;
  width: 42px;
  height: 42px;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

div.solarSystem-bg > button {
  position: absolute;
  border: none;
  outline: none;
  background-color: transparent;
  color: rgba(0,0,0,0);
}

#Mercurio {
  padding: 18px 9px;
  margin-left: 23vw;
  margin-top: 45vh; 
}

#Vênus {
  padding: 28px 24px;
  margin-left: 26vw;
  margin-top: 65vh;
}

#Terra {
  padding: 40px 35px;
  margin-left: 31.5vw;
  margin-top: 17vh;
}

#Marte {
  padding: 27px 21px;
  margin-left: 43vw;
  margin-top: 32vh;
}

#Júpiter {
  padding: 70px;
  margin-left: 51vw;
  margin-top: 49vh;
}

#Saturno {
  padding: 55px;
  margin-left: 64vw;
  margin-top: 73vh;
}

#Urano {
  padding: 40px;
  margin-left: 77vw;
  margin-top: 46vh;
}

#Netuno {
  padding: 50px;
  margin-left: 84vw;
  margin-top: 18vh;
}

div.solarSystem-bg a {
  position: absolute;
  display: block;
  text-decoration: none;
  color: var(--white);
  bottom: 0;
  font-size: 20px;
  left: 5px;
}


@media only screen and (max-width: 1366px) {

    div.title button {
        padding: 13px 22px;
    }

    div.quiz-wrapper {
        width: 40%;
    }

    button.quiz-option, div.result-wrapper button {
        padding: 12px;
    }

    form.quiz-form {
        width: 40%;
    }

    form.auth-form p:first-of-type {
      margin-top: 7vh;
    }

    a.accounted_already {
      margin-bottom: 7vh;
    }

    header {
      height: 9vh;
    }

    header picture {
        width: 10%;
    }

    header button {
        padding: 9px 20px;
    }

    div.conteudo {
        min-height: 82vh;
    }

    div.conteudo h3 {
        margin-top: 75px;
        font-size: clamp(20px, 3vw, 1.3rem);
    }

    div.conteudo article.card-wrapper, div.conteudo h3 {
        width: 90vw;
    }

    footer div.logo {
        width: 9%;
    }

    #Mercurio {
      padding: 13px 3px;
      margin-left: 22vw;
      margin-top: 45vh; 
    }

    #Vênus {
      padding: 20px 12px;
      margin-left: 25.5vw;
      margin-top: 63vh;
    }

    #Terra {
      padding: 28px 26px;
      margin-left: 31vw;
      margin-top: 20vh;
    }

    #Marte {
      padding: 20px 15px;
      margin-left: 43vw;
      margin-top: 33vh;
    }

    #Júpiter {
        padding: 43px;
    }

    #Saturno {
      margin-top: 70vh;
      padding: 39px 37px;
    }

    #Urano {
      padding: 32px 26px;
      margin-left: 77.5vw;
      margin-top: 46vh;
    }

    #Netuno {
      padding: 40px 34px;
      margin-left: 84.5vw;
      margin-top: 21vh;
    }
}


@media only screen and (max-width: 768px) {

  div.quiz-bg, div.students-result-bg {
       background-color: var(--secundary-color);
  }

    div.title button {
        padding: 10px 20px;
    }

    div.quiz-wrapper, div.result-wrapper, div.answers-wrapper {
        width: 85%;
    }

    header {
       height: auto;
       align-items: center;
       flex-wrap: wrap;
    }

    header span.logo {
      display: block;
      padding: 12px 0px;
      margin-left: 6vw;
    }

    header button.dropdown_btn {
       padding: 4px 12px;
       margin-top: 10px;
       margin-bottom: 10px;
       margin-right: 6.5vw;
       font-size: 18px;
       display: block;
       border: none;
       outline: none;
       background-color: var(--secundary-color);
       color: var(--white);
    }

     header button.dropdown_btn .icon {
      margin-top: 5px;
      font-size: 22px;
     }

    header ul#menu_dropdown {
      width: 100%;
      margin: 0 auto;
      display: block;
    }

    header ul#menu_dropdown button.material-btn {
        margin: 12px 5vw;
        padding: 6px 9px;
        font-size: 18px;
        background-color: var(--secundary-color);
    }

    header ul li{
      margin: 12px auto;
      padding: 5px 1vw;
      width: 90%;
    }

    header ul li:hover {
      background-color: var(--secundary-color);;
    }

    header ul li a {
      font-size: 18px;
      margin-left: 0px;
      color: var(--white);
    }

    header ul .icon {
      margin-right: 8px;
      font-size: 14px;
    }

    header div.menu_buttons {
      margin: 0;
      display: none;
    }

    p.quiz-question {
        text-align: center;
    }

    form.quiz-form, form.auth-form {
        width: 80%;
    }

    form.quiz-form button {
        padding: 10px; 
    }

    div.result-wrapper button {
       width: 55%;
       padding: 17px;
    }

    div.students-result-bg > div.table-wrap {
      width: 85%;
    }

    div.students-result-bg button {
      margin-left: 7.5vw;
      padding: 15px 25px;
    }


    div.conteudo article.post-content, div.conteudo article.about-content  {
        width: 90vw;
    }

    div.conteudo article.card-wrapper {
        justify-content: space-between;
        margin: 20px 0px;
    }

     div.conteudo article.card-wrapper, div.conteudo h3 {
        width: 86vw;
     }

     div.conteudo h3 {
        padding-left: 0px;
     }


    article button.post-card {
        margin: 15px 0px;
    }

    button.post-card .card-title {
      margin-top: 24px;
    }

    button.post-card .card-icon {
      width: 45px;
      height: 45px;
    }

    footer div.logo {
        width: 16%;
        height: 50px;
    }

    footer div.about {
       width: 89%;
    }

    footer div.footer {
       background-color: var(--secundary-color);
     }

    footer span.logo, footer div.about, footer p.icon-attribution, footer p.img-attribution, footer div.footer p.copyright {
        margin-left: 6vw;
    }
}

@media only screen and (max-width: 460px) {

    div.quiz-wrapper {
        width: 90%;
    }

    button.quiz-option {
        text-align: center;
    }

    div.result-wrapper button {
       width: 75%;
       padding: 15.5px;
    }

    div.conteudo article.post-content {
        width: 90vw;
    }

    section > h1, section > p, section > h2 {
      padding: 0px;
    }
  
    article.post-content section img {
        width: 100%
    }

    div.conteudo article.card-wrapper {
        justify-content: space-between;
        margin: 15px 0px;
        width: 84vw;
    }  

     article button.post-card {
        height: 130px;
        margin: 15px 0px;
        width: 47%;   
    }

    article button.post-card .card-icon {
        width: 35px;
        height: 35px;
    }

    article button.post-card .card-title {
        margin-top: 25px;
    }

}
