#root {
    display: flex;
    flex-wrap: wrap;
}

.link {
    text-decoration: none;
}

/*login */

div.login-bg {
    display: flex;
    background-color: var(--bg-color);  /*background-image: url('../images/login_bg_blue.jpg')*/;
    /*background-size: cover;
    background-repeat: no-repeat; */
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

 #adm_form {
    background-color: var(--white);
    width: 20%;
    height: auto;
    margin: auto;
}

 #adm_form > p {
    color: #000000;
    margin: 50px auto 0px auto;
    font-size: clamp(1.6rem, 2.5vw, 1.9rem);
    text-align: center;
}

#adm_form input, #adm_form button {
    display: block;
    width: 85%;
    height: 50px;
    outline: none;
    font-size: 1rem;
}

#adm_form input {
    margin: 20px auto;
}

#adm_form input::placeholder {
    color: gray;
    font-size: 1rem;
}

#adm_form input:first-of-type  {
    margin-top: 60px;
}


#adm_form button {
    margin: 25px auto 50px auto;
    background: var(--secundary-color);
    color: white;
    border: none;
}


/*aside */

aside {
  background-color: var(--main-color); 
  width: 17vw;
  min-height: 100vh;
  max-height: 100vh;
  position: sticky;
  top: 0; 
}

aside picture {
    display: block;
    width: 55%;
    background-color: var(--secundary-color);
    height: 6%;
    margin-left: 25px;
}

aside nav {
    margin: 75px 0px;
}

aside nav ul li {
    margin: 18px 0px;
    padding: 10px 0px;
    list-style: none;
    padding-left: 25px;
    font-size: var(--font-size);
}

aside nav ul li:hover, aside nav ul li .link:hover {
    color: var(--secundary-color);
}

aside nav ul li .link {
    color: var(--white);
}

aside nav ul li .nav-icon {
    color: var(--white);
    margin-right: 10px;
}

aside button {
    padding: 10px 15px;
    margin-left: 25px;
    margin-top: 50px;
    font-size: var(--font-size);
    border: none;
    display: none;
    color: var(--white);
    background-color: var(--secundary-color);
}

/*main*/

div.main {
	flex-grow: 1;
}

div.main .header {
    background-color: var(--white);
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.header p {
    margin-left: 4vw;
}

.header button.logout {
    background-color: var(--secundary-color);
    border: none;
    font-size: var(--font-size);
    padding: 10px 12px;
    margin-right: 4vw;
    color: var(--white); /*70%*/
    width: auto; /*70px*/
    display: inline-flex;
    align-items: center;
}

 div.main .jumbotron {
    background-color: var(--white);
    width: 90%;
    height: auto;
    margin: 35px auto 15px auto;
    padding: 10px 0px;
    
}

div.main .jumbotron h1 {
    display: inline-flex;
    align-items: center;
    font-weight: 200;
    padding: 0px 20px;
    font-weight: 400;
    font-size: clamp(18px, 4vw, 2rem);
}


/*

div.main .jumbotron p {
    font-size: clamp(16px, 3.2vw, 1.7rem);
    font-weight: 400;
    margin: 20px 0px;
    padding: 0px 20px;
}

*/

div.main .content {
    background-color: var(--white);
    width: 90%;
    height: auto;
    margin: 35px auto;
    padding: 20px;
    display: block;
}

div.content form div p {
    padding: 0px 20px;
}

div.content form input, form textarea, div.wysiwyg_field, div.question_options {
    width: 80%;
    margin: 7px 20px 18px 20px;
}

form input, div.wysiwyg_field {
    display: block;
    border: 2px solid var(--bg-color);
    background: var(--white);
}

form input {
    text-indent: 15px;
    outline: none;
    transition: all 0.30s ease-in-out;
}   

div.content form input, form textarea {
    font-size: var(--font-size);
}

div.content form input {
    height: 42px; 
}

div.content form button[type="submit"] {
    display: block;
    padding: 10px 20px;
    margin: 30px 20px 0px 20px;
    border: none;
    font-size: var(--font-size);
    background-color: var(--secundary-color);
    color: var(--white);
}

form input:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1)
}

div.question_options {
    height: auto;
}

form span.option {
    display: inline-block;
    width: 150px;
    padding: 8px 10px;
    border-radius: 3px;
    border: 2px solid var(--secundary-color);
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    text-overflow: ellipsis;
    background-color: var(--white);
    color: var(--secundary-color);
    margin: 0px 5px 5px 0px;
}

div.form-group #options_field {
    display: inline-block;
}


button.optionsBtn {
    background-color: var(--secundary-color);
    border: none;
    padding: 9px 12px;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;

}

.icon {
    font-size: var(--font-size)
}

.optionBtn-icon, .actionBtn-icon {
    color: var(--white);
}


div.content .table-wrap {
    margin-top: 25px;
    overflow-x: auto;
}

div.content h2 {
    font-size: clamp(18px, 3.5vw, 1.4rem);
    width: 100%;
}

div.content table {
    align-self: flex-start;
    border-collapse: collapse;
    width: 1100px;
}

 td, th {
  text-align: center;
  border: 1px solid #e5e4e4;
  padding: 15px;

}

tr.student-info td:nth-child(3) {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tr.student-info td:last-child {
    width: 170px;
}

td button {
    display: inline-block;
    align-items: center;
    background-color: var(--secundary-color);
    border: none;
    padding: 6px 8px;
    margin-left: 5px;
}

@media only screen and (max-width: 1366px) {
    #adm_form {
        width: 25%;
        height: auto;
    }

    aside picture {
        height: 7%;
    }

    div.main .header {
        height: 7vh;
    }

    .header button.logout {
        padding: 4px 9px;
    }

    div.content table {
        width: 950px;
    }
}



@media only screen and (max-width: 768px) {

    #adm_form {
        width: 50%;
        height: auto;
    }

    aside {
        width: 100vw;
        min-height: auto;
        height: auto;
        position: relative;
    } 

    aside picture {
        width: 30%;
        height: 8vh;
        margin-top: 25px;
    }

    aside button {
        display: block;
    }

    div.main {
        width: 100vw;
    }

    div.main .header {
        display: none;
    }

    div.main .content {
        width: 90%;
    }

    div.content form input, form textarea, div.wysiwyg_field, div.question_options {
        width: 95%;
        margin: 10px auto 20px auto;
    }

    div.content form div p {
        width: 95%;
        padding: 0px;
        margin: 0px auto;
    }

    div.content form button[type="submit"] {
        width: 95%;
        margin: 0 auto;
    }

    div.form-group #options_field {
        display: block;
    }

    button.optionsBtn {
        width: 44%;
    }

    button.optionsBtn:first-of-type {
        margin: 0px 10px 0px 18px;
    }

    form span.option {
        width: 140px;
    }

    form span.option:nth-child(2n + 1) {
    	margin-left: 8px;
    }
}

@media only screen and (max-width: 460px) {
    #adm_form {
        width: 90%;
        height: auto;
    }
}



