@import 'fonts.css';

:root {
  --bg-color: #e5e4e4;
  --primary-color: #000000;
  --secundary-color: #360940;
  --font-size-1: clamp(18px, 4vw, 2rem);
  --font-size-2: clamp(14px, 2vw, 1rem);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}



#root {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--bg-color);
    padding: 0;
    margin: 0; 
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

p, a {
	font-family: 'Roboto', sans-serif;
}