@import 'fonts.css';

:root {
  --bg-color: #e5e4e4;
  --main-color: #000000;
  --secundary-color: #1e0921; /*#570c2c*/ /*#641138;*/ /*#360940;*/
  --white: #FEFEFE;
  --font-size: clamp(14px, 2vw, 1rem);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}



#root {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--bg-color);
    padding: 0;
    margin: 0; 
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

p, a, li, span, td, tr, button {
	font-family: 'Roboto', sans-serif;
}

input[type="text"], input[type="submit"], button {
   border-radius: 3px;
}

form input {
  text-indent: 15px;
  outline: none;
  transition: all 0.30s ease-in-out;
}

form input:focus, textarea:focus {
    box-shadow: 0 0 5px var(--secundary-color);
    border: 1px solid var(--secundary-color);
}

span.logo {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
}

.show_menu {
  display: block;
}